@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark {
  background-color: #121212;
  color: #fff;
}

body.light {
  background-color: #ffffff;
  color: #000;
}
body.light footer p {
  color: rgb(138, 99, 210);
}

body.dark header {
  color: #F9A826;
  box-shadow: 0 0 10px 0 rgb(249, 168, 38);
  background-color: #1E1E2F;
}

body.dark header input {
  color: #F9A826;
  border-bottom: #F9A826 solid 1px;
}
body.dark .dark {
  color: #F9A826;
}
body.dark .dark:hover {
  background-color: #efd3c0;
}
body.dark .plus-button {
  background-color: #F9A826 !important;
}
body.dark .plus-button:hover {
  background-color: #d5961c !important;
}

body.light header {
  box-shadow: 0 0 10px 0 rgb(138, 99, 210);
}
body.dark header h1,
body.dark header p{
  text-shadow: 1px 1px 15px rgb(249, 168, 38);
}
body.light header h1,
body.light header p {
  text-shadow: 1px 1px 15px rgb(138, 99, 210);
}


footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #8A63D2;
}